@{
    var Simple = TalkSharp.Controllers.SpeakController.Recordings;
    var Complex = TalkSharp.Controllers.SpeakController.ComplexRecordings;
    var i = 1;
}
@{
    ViewBag.Title = "List";
}
<h2>
    Simple Messages
</h2>
<ul>
    @foreach (var Message in Simple)
    {
        <li>
            @Message.Number : @Message.Text<br />
        </li>
    }
</ul>
<h2>
    Complex Messages
</h2>
<ol>
@foreach (var Message in Complex)
{
    <li>
    @if (Message.Messages != null)
    {
    <h4>Messages</h4>
    <ul>
        @foreach (var NestedMessage in Message.Messages)
        {  
            <li>@NestedMessage.Number : @NestedMessage.Text</li> 
        }
    </ul>
    }
    @if (Message.Timestamp != null)
    {
    <h4>Timestamp</h4>
    <i>@Message.Timestamp.ToString()</i>
    }
    @if (Message.Metadata != null)
    {
    <h4>Metadata</h4>
    <ul>
        @foreach (var Metadata in Message.Metadata)
        {  
            <li>@Metadata.Key : @Metadata.Value</li> 
        }
    </ul>
    }
    </li>
}
</ol>
